<html>
<body>
<script type="text/javascript">
</script>

<!-- followers count-->
{% set followers_count=user.followers_count %}
{% set a=0 %}
{% if followers_count>=0 and followers_count<=100 : %}
{%	set a=(followers_count/100)*5  %}
{% elif followers_count>100 and followers_count<=1000 : %}
{%	set a= 5 + (followers_count/1000)*5  %}
{% elif followers_count>1000 and followers_count<=10000 : %}
{%	set a= 10 + (followers_count/10000)*5  %}
{% elif followers_count>10000 and followers_count<=1000000 : %}
{%	set a= 15 + (followers_count/1000000)*5  %}
{% elif followers_count>1000000 and followers_count<=10000000 : %}
{%	set a= 20 + (followers_count/10000000)*5  %}
{% else : %}
{%	set a=25 %}
{% endif %}
	
<!-- following count-->
{% set following_count=user.friends_count %}
{% set b=0 %}
{% if following_count>=0 and following_count<=100 : %}
{%	set b=(following_count/100)*5  %}
{% elif following_count>100 and following_count<=1000 : %}
{%	set b= 5 + (following_count/1000)*5  %}
{% elif following_count>1000 and following_count<=10000 : %}
{%	set b= 10 + (following_count/10000)*5  %}
{% elif following_count>10000 and following_count<=25000 : %}
{%	set b= 15 + (following_count/25000)*5  %}
{% elif following_count>25000 and following_count<=50000 : %}
{%	set b= 20 + (following_count/50000)*5  %}
{% else : %}
{%	set b=25 %}
{% endif %}
<!--tweet count-->
{% set tweet_count=user.statuses_count %}
{% set c=0 %}
{% if tweet_count>=0 and tweet_count<=100 : %}
	{%	set c=(tweet_count/100)*5  %}
{% elif tweet_count>100 and tweet_count<=1000 : %}
	{%	set c= 5 + (tweet_count/1000)*5  %}
{% elif tweet_count>1000 and tweet_count<=10000 : %}
	{%	set c= 10 + (tweet_count/10000)*5  %}
{% else : %}
	{%	set c=15 %}
{% endif %}

<!--Retweets-->
{% set d=0 %}
{% if max2>=0 and max2<=100 : %}
	{%	set d=(max2/100)*5  %}
{% elif max2>100 and max2<=250 : %}
	{%	set d= 5 + (max2/1000)*5  %}
{% elif max2>250 and max2<=500 : %}
	{%	set d= 10 + (max2/10000)*5  %}
{% else : %}
	{%	set d=15 %}
{% endif %}

<!--recency-->
{% set e=0 %}
{% if max1>=5 and max1<=10 : %}
	{%	set e=(max1/10)*5  %}
{% elif max1>1 and max1<=5 : %}
	{%	set e= 5 + (max1/5)*5  %}
{% elif max1<1 : %}
	{%	set e= 10  %}
{% else : %}
	{%	set e=0 %}
{% endif %}


{% set score = (a+b+c+d+e) %}



{% print a %}
<br />
{% print b %}
<br />
{% print c %}
<br />
{% print d %}
<br />
{% print e %}
<br />
{% print f %}
<br />
{% print score %}
<br />
</body>
</html>